@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */


/* div {
  color: #5eead4;
  color: #14b8a6;
  color: #0f766e;
}

div {
  color: #bae6fd;
  color: #0ea5e9;
  color: #0369a1;
} */